<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" routerLink="/" src="\assets\img\header.png" />
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/cart"
            ><span
              class="glyphicon glyphicon-shopping-cart"
              aria-hidden="true"
            ></span
          ></a>
        </li>

        <li>
          <div *ngIf="totalPrice">
            <div class="thumbnail price">
              <strong>TotalItems: </strong
              ><span class="badge">{{ totalQuantity }}</span>
              <strong>Total Price: ${{ totalPrice }}</strong>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
