<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" routerLink="/" src="\assets\img\header.png" />
    </div>

    <div>
      <!-- <ul class="nav navbar-nav navbar-right"> -->
      <li>
        <a routerLink="/cart">
          <img
            class="navbar-brand carticon"
            routerLink="/"
            src="assets\cart.png"
        /></a>
      </li>
      <li>
        <div *ngIf="totalPrice">
          <div class="thumbnail price">
            <strong>TotalItems: </strong
            ><span class="badge">{{ totalQuantity }}</span>
            <strong>Total Price: ${{ totalPrice }}</strong>
          </div>
        </div>
      </li>
      <!-- </ul> -->
    </div>
  </div>
</nav>
